<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HELP Language Trainer Login V1.1</title>
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body class="bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<label class="control-label"
						th:text="'WELCOME ' + ${#request.userPrincipal.name}"></label>
					<form class="form-inline " th:action="@{/j_spring_security_logout}"
						method="post">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" /> <input type="submit"
							class="btn btn-outline-danger  float-right ml-2" value="Sign out" />
					</form>

					<br>

					<div class="col-12 form-group">
							<select name="exist-dict-names" class="custom-select float-center ml-2">
								<option value="1" selected>English-Japan</option>
							</select>
					</div>

					<br>

					<div class="col-12 form-group">
						<a th:href="@{/contents-list}"
							class="btn btn-success float-left ml-2">更新</a> <a
							th:href="@{/contents}"
							class="btn btn-success float-right ml-2">練習</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>